<footer id="layout-footer">
    <div>
        <p>
            &#169; MySocial. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>

<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class = "text-muted">&copy; YelpCamp 2022</span>
    </div>
</footer>
 -->
